beautifulsoup4==4.11.1
colorthief==0.2.1
cycler==0.11.0
fonttools==4.33.3
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
Pillow==9.1.1
pygame==2.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
RPi.GPIO==0.7.1
SciPy==1.8.1
six==1.16.0
soupsieve==2.3.2.post1
